.line {
    height: 1rem;
    background-color: #fff;
}

.team-box {
    position: relative;
    width: fit-content;
    background-color: transparent;
    border: 2px solid rgb(0, 183, 255);
    height: 5rem;
    top: -3rem;
    span.points {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 150%;
        font-weight: bold;
    }
}

.countdown {
    position: absolute;
    bottom: 0;
    right: 3rem;
}

.h1 {
    font-family: 'Courier New', Courier, monospace;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("/assets/chalkboard.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.lines {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    div {
        position: absolute;
        width: 1px;
        background-color: rgb(158, 158, 158);
        height: 70vh;
    }
}