.line {
    height: 1rem;
    background-color: #fff;
}

.team-box {
    position: relative;
    width: fit-content;
    background-color: transparent;
    line-height: 2.5rem;
    border: 2px solid rgb(0, 183, 255);
    height: 4rem;
    top: -2.5rem;
}

.countdown {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    bottom: 0;
    right: 3rem;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("/assets/chalkboard.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}