.line {
    height: 1rem;
    background-color: #fff;
}

.team-box-holder {
    position: relative;
    width: fit-content;
    background-color: transparent;
    height: 5rem;
    top: -3rem;
    .team-box {
        border: 2px solid #fff;
        display: inline-block;
        span.points {
            width: 100%;
            text-align: center;
            display: block;
            font-size: 150%;
            font-weight: bold;
        }
    }
    .place-box {
        font-size: 250%;
        display: inline-block;
        span.border-round {
            border: 2px solid #fff;
            border-radius: 50rem;
            width: 4rem;
            height: 4rem;
            display: inline-block;
            text-align: center;
            font-weight: bold;
        }
    }
}

.countdown {
    position: absolute;
    bottom: 0;
    right: 3rem;
}

* {
    font-family: Chalk;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../../../assets/chalkboard.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.lines {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    div {
        position: absolute;
        width: 1px;
        background-color: rgb(158, 158, 158);
        height: 70vh;
    }
}